sphinx
sphinx_rtd_theme
sphinx-markdown-tables
sphinx-intl
recommonmark
sphinx_copybutton==0.4.0
numpy
scipy
tensorflow
torch
tqdm
hyperdash
git+https://github.com/tensorlayer/tensorlayerx.git
pytest
cython