sphinx
sphinx_rtd_theme
sphinx-markdown-tables
sphinx-intl
recommonmark
sphinx_copybutton==0.4.0
numpy==1.24
scipy
tensorflow==2.11.0
torch==2.2.2
torchvision==0.17.2
torchaudio==2.2.2
tqdm
hyperdash
git+https://github.com/dddg617/TensorLayerX.git@nightly
pytest
pyparsing
pybind11
pandas
nbsphinx