sphinx
sphinx_rtd_theme
sphinx-markdown-tables
sphinx-intl
recommonmark
sphinx_copybutton==0.4.0
numpy<=1.23
scipy
tensorflow<=2.11.0
torch
tqdm
hyperdash
tensorlayerx==0.5.8
pytest
pyparsing
pybind11
pybind11
pandas==2.0.3